<div id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <ion-button color="primary" (click)="echo()">Echo</ion-button>
  <ion-button color="primary" (click)="startRecording()">Start Recording</ion-button>
  <ion-button color="primary" (click)="stopRecording()">Stop Recording</ion-button>
  <audio controls>
    <source src="{{recording.webPath}}" type="{{recording.mimeType}}">
  Your browser does not support the audio element.
  </audio>
</div>