<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Actions</ion-label>
      </ion-item-divider>

      <ion-item button color="primary" (click)="checkPermissions()">
        <ion-label>Check Permissions</ion-label>
      </ion-item>
      <ion-item button color="secondary" (click)="requestPermissions()">
        <ion-label>Request Permissions</ion-label>
      </ion-item>
      <ion-item button color="tertiary" (click)="startRecording()">
        <ion-label>Start Recording</ion-label>
      </ion-item>
      <ion-item button color="success" (click)="stopRecording()">
        <ion-label>Stop Recording</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Web Paths</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let webPath of webPaths">
        <audio controls>
          <source src="{{webPath}}" type="{{recording?.mimeType}}">
          Your browser does not support the audio element.
        </audio>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Data Urls (Verify on)</ion-label>
        <ion-input value="https://base64.guru/converter/decode/audio" readonly></ion-input>
      </ion-item-divider>
      <ion-item *ngFor="let dataUrl of dataUrls">
        <ion-label position="floating">Data Url</ion-label>
        <ion-textarea value="{{dataUrl}}"></ion-textarea>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>